/* Login */
.containerLogin {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/loginAndSignup.jpg');
}

.containerLogin .loginAuth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid gray;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-submitLogin {
    display: block;
    margin: 20px 0;
    margin-left: auto;
}

.containerLogin .loginAuth .loginFooter p{
    display: inline-block;
}
.loginFooter{
    margin-top: 30px;
}

.loginFooter a{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-right: 5px;
}

.loginFooter a.github{
    margin-left: 3px;
    color: black;
}
.loginFooter a.facebook{
    color: navy;
}
.loginFooter a.google{
    color: brown;
}

.loginFooter a:hover{
    color: blue;
}


/* sign in */
.containerSignup {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/loginAndSignup.jpg');
}

.signupAuth label{
    margin-top: 10px;
}

.containerSignup .signupAuth {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid gray;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-submitSignup {
    display: block;
    margin: 20px 0;
    margin-left: auto;
}

